# Define o framework utilizado para criar nossa API.
fastapi

# Define o servidor utilizado para executar a aplicação FastAPI.
uvicorn

# Define o token de autenticação JWT para proteger as rotas da API.
pyjwt